<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ascii-Art-Web</title>
        <link rel="stylesheet" href="/template/style.css">
    </head>
    <body>
        <div class="hero">
            <nav>
                <img src="../images/logo.png" class="logo">
                <ul>
                    <li><a href="/template/Art.html">Ascii-Art</a></li>
                    <li><a href="https://learn.zone01dakar.sn/git/aniasse/ascii-art-web/src/branch/master/README.md">README</a></li>
                    <li><a href="https://www.zone01dakar.sn/" class="login-btn">About Zone01</a></li>
                </ul>
                <div>
                    <a href="https://www.zone01dakar.sn/rejoins-nous/" class="btn">Join Us</a>
                </div>
            </nav>
            <div class="content"  style="text-align: center;">
                <h1 class="anim">Welcome to our <br> ASCII-ART PROJECT</h1>
                <p class="anim">This Project aims to convert user input into ASCII art.</p>
                <a href="http://localhost:8080/template/Art.html" class="btn anim">Let's start</a>
            </div>
            <img src="../images/pic.png" class="feature-img anim">
        </div>
    </body>
</html>